* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bodyApplicazione {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
margin-top: 2px;
  box-shadow: 0px 0px 3px 1px rgb(212, 212, 212);
  width: 100%;
  height: 100%;
  min-height: 830px;
  max-width: 498px;
}

#inputTempo, #btnInizio, #refreshBtn, #displayMode {
  width: 350px;
  height: 37px;
  padding: 10px;
  border: 0;
  outline: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
  text-align: center;

}



h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#timerFinito {
  color: rgba(19, 226, 19, 0.877) !important;
}

.nascosto {
  visibility: hidden;
}

#btnInizio:active {
  outline: 1px solid rgb(170, 170, 170);
  background-color: rgba(245, 245, 245, 0.171);
}

#btnInizio.active:focus {
  outline: 1px solid rgb(138, 138, 138);
  font-weight: 600;
}

#btnInizio {
  width: 389px;
}

#refreshBtn {
  width: 35px;
  color: rgb(255, 0, 0);
  font-weight: normal;
  line-height: normal;
}

.inputBlock {
  flex-wrap: nowrap;
}

#displayMode {
  position: absolute;
  margin-bottom: 90px;
  width: 35px;
  height: 35px;
  font-weight: normal;
}

.darkMode {

  background-color: rgb(31, 31, 31) !important;
  color: rgb(238, 237, 237) !important;
  
 
}

.btnStart.darkMode:disabled{
  color: rgb(107, 107, 107) !important;

 outline:1px solid rgb(107, 107, 107) !important;
 cursor: not-allowed  !important;
 
}

.btnStart:disabled{
  cursor: not-allowed  !important;
}

.fas.fa-times{
  color: red!important;
}




